<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <header class="header">
      <div class="header-container">
        <div class="row">
          <div class="">
            <div class="header-card">
              <a href="index.html"
                ><img
                  src="../assets/images/logo-new_工作區域 1.png"
                  alt="logo-new_工作區域"
              /></a>
              <ul>
                <li><a href="optical.html">系列鏡框</a></li>
                <li><a href="store.html">門市據點</a></li>
                <li><a href="blog.html">部落格</a></li>
                <li><a href="QA.html">常見問題</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <script type="module" src="../main.js"></script>
  </body>
</html>
