<nav class="nav">
    <div class="nav-container">
      <div class="row">
        <div class="col-12">
          <ul class="nav-card">
            <li class="col-12"><a href="optical.html">OPTICAL</a></li>
            <li class="col-12"><a href="sunglasses.html">SUNGLASSES</a></li>
            <li class="col-12"><a href="#">FUNCTIONAL</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>