.container{
    padding: 80px 0;
    @include mobile-large{
        padding: 80px 12px !important; 
    }
    @include mobile{
        padding: 40px 12px !important; 
    }
}
.blog{
    color:#000;
    h1{
        font-size: 48px;
        font-weight: bolder;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 32px;
    }
    @include mobile{
        h1{
            font-size: 24px;
        }
    }
}
.blog-card{
    margin-right: -12px;
    margin-left: -12px;
    display: flex;
    flex-wrap:wrap;
    h2{
        font-size: 32px;
        color:$secondary;
    }
    h3{
        font-size: 20px;
    }
    time{
        text-align: center;
        font-size: 16px;
    }
    p{
        font-size: 20px;
        color:#555555;
    }
    @include pad{
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 16px;
        }
        time{
            font-size: 16px;
        }
        p{
            font-size: 16px;
            @include mobile{
                display: none;
            }
        }
        span{
            display: none;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 88%;
    }
    &-text1{
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 16px;
    }
    .a-md{
        display: none;
        color:blue;
        a{
            font-size: 16px;
        }
        a:hover{
            color:#555555;
        }
        @include pad{
            display: inline-block;
        }
    }
}
.page{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 124px;
    a{
        display: block;
        border: 1px solid #555555;
        padding: 12px 16px;
        &:hover{
            background: #000;
            color: #FFFFFF;
        }
    }
    @include pad{
        margin-top: 56px;
    }
    @include mobile{
        margin-top: 40px;
        margin-bottom: 24px;
        font-size: 16px;
    }
}
.a-pc{
    font-size: 36px;
    color:$secondary;
    text-align:right;
    &:hover{
            color:#555555;
    }
    @include pad{
        display: none;
    }
}
.mb-15{
    @include mobile-large{
        margin-bottom: 24px;
    }
}
.mb-sm{
    margin-bottom: 60px;
    @include mobile-large{
        margin-bottom: 24px;
    }
    @include mobile{
        margin-bottom: 8px;
    }
}