.container{
    padding: 80px 0;
    @include mobile-large{
        padding: 40px 0;
    }
}
.QA-main{
    padding-top: 16px;
    margin-right: -12px;
    margin-left: -12px;
    color: #000;
    ol{
        display: flex;
        flex-direction: column;
        gap:32px;
    }
    h1{
        font-size: 48px;
        border-left: 8px solid #9F1213;
        font-weight: bolder;
        padding-left: 16px;
        margin-bottom: 32px;
    }
    h2{
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 24px;
    }
    h3{
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 8px;
    }
    p{
        font-size: 16px;
    }
    @include mobile{
        padding-bottom: 24px;
        h1{
            font-size: 24px;
            margin-bottom: 24px;
        }
        ol{
            gap:24px;
        }
    }
}