$gap:24px;
$columns-num:12;

@for $i from 1 through $columns-num{
  .col-#{$i} {
    width: 100% * ($i / $columns-num);
    padding-left: $gap*0.5;
    padding-right: $gap*0.5;
  }
}
@include pad{
  @for $i from 1 through $columns-num{
  .col-md-#{$i} {
    width: 100% * ($i / $columns-num);
    padding-left: $gap*0.5;
    padding-right: $gap*0.5;
  }
}
}
@include mobile{
  @for $i from 1 through $columns-num{
  .col-sm-#{$i} {
    width: 100% * ($i / $columns-num);
    padding-left: $gap*0.5;
    padding-right: $gap*0.5;
  }
}
}

$primary : #aa0601;
$secondary:#650300;



.h1 {
  font-size: 64px;
}
.h2 {
  font-size: 48px;
}
.h2-1 {
  font-size: 48px;
}
.h3 {
  font-size: 36px;
}
.fs-1 {
  font-size: 24px;
}
.fs-2 {
  font-size: 20px;
}
.fs-3 {
  font-size: 16px;
}
.fs-4 {
  font-size: 14px;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: end;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-8{
  margin-bottom: 32px;
}
.mb-9{
  margin-bottom: 36px;
}
.mb-12 {
  margin-bottom: 48px;
}
.mb-15{
  margin-bottom: 60px;
}
.mb-18 {
  margin-bottom: 72px;
}
.mr-12{
  margin-right: 48px;
}
.pr-4{
  padding-right: 16px;
}
