<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>store</title>
  </head>
  <body>
    <%- include('./layout/header');-%>

    <div class="blogpage-nav-bg">
      <div class="blogpage-nav-container">
        <div class="blogpage-nav">
          <ul class="blogpage-nav-card">
            <li><a href="#">最新消息</a></li>
            <li><a href="#">特別企劃</a></li>
            <li><a href="#">新品上市</a></li>
            <li><a href="#">鏡框小知識</a></li>
          </ul>
          <div>
            <a href="#"
              ><img src="/assets/images/search_24dp_FFFFFF.png" alt="search"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <section class="blogpage">
      <div class="blogpage-container">
        <div class="blogpage-tag-link">
          <p>
            <a href="/pages/index.html">首頁</a>/
            <a href="/pages/blog.html">部落格</a>/ <a href="#">特別企劃</a>/
            <a href="#" style="color: #aa0601">情人節特別企劃</a>
          </p>
          <div class="blogpage-tag-link-text">
            <p>#special</p>
            <p>#event</p>
          </div>
        </div>
        <div class="blogpage-main-row">
          <div class="blogpage-main">
            <div class="col-8 col-md-9 col-sm-12">
              <div class="blogpage-main-title">
                <h1>情人特別企劃</h1>
                <h2>2020 Valentine’s Special</h2>
                <ul>
                  <li>
                    <img src="/assets/images/blogpage-1.png" alt="blogpage-1" />
                    <p>
                      一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                      本次拍攝的鏡框款式與 NEEDS CLASSIC
                      聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                    </p>
                  </li>
                  <li>
                    <img src="/assets/images/blogpage-2.png" alt="blogpage-2" />
                    <p>
                      一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                      本次拍攝的鏡框款式與 NEEDS CLASSIC
                      聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                    </p>
                  </li>
                  <li>
                    <img src="/assets/images/blogpage-3.png" alt="blogpage-3" />
                    <p>
                      一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                      本次拍攝的鏡框款式與 NEEDS CLASSIC
                      聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                    </p>
                  </li>
                  <li>
                    <img src="/assets/images/blogpage-4.png" alt="blogpage-4" />
                    <p>
                      2/14(五)-2/20(日)<br />至本店單筆消費滿2980元,
                      就送情人節限定眼鏡盒1個<br />期間優惠還有~~持他牌鏡框更換鏡片<br />薄型非球面鏡片折300元<br />濾藍光鏡片折500元<br />快快帶上另一半<br />讓彼此每一次睜開眼，都被愛的視線包圍!
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blogpage-tags col-4 col-md-3">
              <div class="blogpage-tags-title">
                <img
                  src="/assets/images/label_24dp_AA0601_FILL0_wght0_GRAD0_opsz24.png"
                  alt="tags"
                />
                <h3>TAGS</h3>
              </div>
              <div class="blogpage-tags-text1">
                <p>#special</p>
                <p>#sale</p>
              </div>
              <div class="blogpage-tags-text2">
                <p>#new_item</p>
                <p>#interview</p>
              </div>
              <div class="blogpage-tags-text3">
                <p>#trivia</p>
                <p>#news</p>
              </div>
              <div class="blogpage-tags-text4">
                <p>#event</p>
              </div>
            </div>
          </div>
          <div class="col-8 col-md-12">
            <div class="blogpage-social">
              <a href="#">Share</a>
              <a href="#"
                ><img src="/assets/images/logo-facebook@2x.png" alt="fb"
              /></a>
              <a href="#"
                ><img src="/assets/images/logo-instagram@2x.png" alt="ig"
              /></a>
            </div>
            <div class="blogpage-icon">
              <div>
                <a href="#" style="padding-right: 8px;"><img src="/assets/images/arrow_back_24dp_000000_FILL0_wght0_GRAD0_opsz24.png" alt="arrow_back">
                </a><a href="#">上一篇：街頭潮人訪問 1</a>
              </div>
              <div>
                <a href="#">下一篇：街頭潮人訪問 2</a><a href="#" style="padding-left: 8px;"><img src="/assets/images/arrow_forward_24dp_000000_FILL0_wght0_GRAD0_opsz24.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer');-%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
